.wallet-option {
    padding: 12px;
    border: 1px solid #cecece;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 20px;
}

.wallet-option:hover {
    border: 1px #00a65a solid;
}

.wallet-option.selected {
    border: 1px #00a65a solid;
    font-weight: 600;
}

.info-box-number {
    font-size: 24px;
    font-weight: normal;
}

label.error {
    color: red;
    font-weight: normal;
}

.sign-help:hover {
    color: #00a65a;
}

.sign-muted {
    color: darkgrey;
}

.box-footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

textarea {
    resize: none;
}

.popover-mini {
    font-size: 12px;
}

input.without-arrow::-webkit-outer-spin-button,
input.without-arrow::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number].without-arrow {
    -moz-appearance:textfield; /* Firefox */
}

.tnsn-offline-result h4 {
    font-weight: 600;
}
.tnsn-offline-result h4:not(:first-child) {
    margin-top: 25px;
}
.tnsn-offline-result .tnsn_block {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;
}

code {
    background: none;
}