.wallet-option {
    padding: 12px;
    border: 1px solid #cecece;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 20px;
}

.wallet-option:hover {
    border: 1px #00a65a solid;
}

.wallet-option.selected {
    border: 1px #00a65a solid;
    font-weight: 600;
}

.info-box-number {
    font-size: 24px;
    font-weight: normal;
}

label.error {
    color: red;
    font-weight: normal;
}

.sign-help:hover {
    color: #00a65a;
}

.sign-muted {
    color: darkgrey;
}

.box-footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

.modal-footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

textarea {
    resize: none;
}

.popover-mini {
    font-size: 12px;
}

input.without-arrow::-webkit-outer-spin-button,
input.without-arrow::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number].without-arrow {
    -moz-appearance: textfield; /* Firefox */
}

.tnsn-offline-result h4 {
    font-weight: 600;
}

.tnsn-offline-result h4:not(:first-child) {
    margin-top: 25px;
}

.tnsn-offline-result .tnsn_block {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;
}

code {
    background: none;
}

.overlay {
    text-align: center;
}

.overlay i {
    top: 45%;
    position: relative;
}

.confirmation-contract-deploy .main {
    background-color: #f2fafa;
    border-radius: 4px;
    color: #506175;
    padding: 18px 24px;
    width: 248px;
    word-break: break-word;
}

.confirmation-contract-deploy .icon-bg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #497391;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.confirmation-contract-deploy .icon-bg img {
    height: 20px !important;
    width: auto !important;
}

.confirmation-contract-deploy .amount,
.confirmation-contract-deploy .currency {
    color: #536d8b;
    font-size: 20px;
    font-weight: 600;
}

.confirmation-contract-deploy .address-label {
    color: #506175;
    font-weight: 600;
}

.confirmation-contract-deploy .detail-header {
    margin-top: 35px;
    margin-bottom: 15px;
}

.confirmation-contract-deploy .detail-header h4 {
    font-size: 18px;
    font-weight: 600;
}

.confirmation-contract-deploy .detail-item {
    color: #506175;
    font-size: 17px;
}

.confirmation-contract-deploy .detail-item dt {
    font-weight: 400;
}

.messages-menu ul.dropdown-menu {
    max-width: 160px;
}

.iz3-flag-wrapper {
    width: 24px;
    background-color: lightgray;
    text-align: center;
    vertical-align: baseline;
    border-radius: 3px;
}